# Generic
*.log
*.lis

# Emacs
*~

# Autotools
aclocal.m4
autom4te.cache/
build/
*.in
config/
configure
VERSION
Makefile
config.h
config.status
.deps/
libtool
dbugrpt
rf2dbug
stamp-h1

# Perl pod2html
pod2htmd.tmp

# CMake
b/
